<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /~offside_now/rsk/app/
    #RewriteBase /rsk/app
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
 </IfModule>
